.user{
    padding-top: 1%;
    padding-left: 1%;
    display: flex;
    align-items: center;
}
.user-photo{
    width: 15%;
    border-radius: 100%;
    min-width: 10%;
}
.user-name{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1%;
}
.user-nickname{
    font-size: 1.5rem;
    color: #4b5965;
    margin-left: 1%;
    margin-top: 1%;
}
.verified-icon{
    margin-top: 1%;
    font-size: 1.3rem;
    padding-left: 10px;
}